{% load static %}
{% load blogtags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="blog" content="Django pet project">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" />
</head>
<body>
    <div class="container">

        <header class="row">
            
            <div class="span12">

                <div class="identity">
                    <a href="index.html" class="logo">Dj blog</a>
                    <b>Hello</b>
                    <p>Django pet project / blog</p>
                </div>
            </div>
            
            <div class="span12 nav-box">
                
                <nav class="span9 main-menu">
                    
                    {% include 'blog/includes/menu.html' %}
                </nav>

                <form action="#" class="span3 search-nav">
					<p>

						<input type="submit" value="search">
						<input type="text" placeholder="Search">
						
					</p>
				</form>
            </div>
        </header>

        <div role="main">

            <div class="row">

                <p class="no-bradcrumbs"></p>
                
                <section class="span9">

                    {% block content %} {% endblock %}
                </section>

                <aside class="span3">
				
                        <div class="sidebar-element">

                            <h3><a href="{% url 'home' %}" class="side-a">Все категории</a></h3>
                            <ul class="category-list">

                            {% show_categories cat_selected %}
                </aside>
            </div>
        </div>
    </div>

    <footer class="main-footer">

        <div class="container">

            <div class="row">

                <nav class="footer-nav span8">
                    
                    {% include 'blog/includes/menu.html' %}
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>