{% extends 'base2.html' %}
{% load static %}
{% load blogtags %}

{% block content %}

{% for p in posts %}
<article class="element-box">

    <header class="element-top-bar clearfix">
        <a href="" class="user-info f1">{{ p.author.username|default:'Аноним' }}</a>
        <b class="time-info fr">{{ p.time_update|date:"d-N-Y H:i" }}</b>
    </header>

    <h2>{{ p.title }}</h2>

    {% if p.image %}
    <figure>
        <a href="{{ p.image.url }}" class="show-image" title="{{ p.title }}">
            <img src="{{ p.image.url }}" alt="image">
            <b class="zoom-icon"></b>
        </a>
    </figure>
    <!-- <p><img src="{{ post.image.url }}"</p> -->
    {% endif %}

    {% autoescape off %}
    <p>{{ p.content|linebreaks|truncatewords:40 }}</p>
    {% endautoescape %}
    <p><a href="{{ p.get_absolute_url }}">Читать пост</a></p>

    <footer class="element-bottom-bar">
        <ul>

        </ul>
    </footer>
</article>
{% endfor %}


{% endblock %}


{% block navigation %}
{% if page_obj.has_other_pages %}
<div class="pagination">
    <ul>
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}"><</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li>{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}">></a>
        </li>
        {% endif %}

    </ul>
</div>
{% endif %}
{% endblock %}