{% extends 'base.html' %}

{% block content %}
<div role="main">
    <section class="row">
        <div class="error-box span12">
            <div class="row">
                <div class="span12 error-message">
                    <h1>
                        <b>404</b>
                        <span>error</span>
                    </h1>
                </div>
                <div class="span12">
                    <p>Страница, которую вы ищите не найдена</p>
                </div>
                <div class="span4 offset4">
                    <a href="{% url 'home' %}" class="button button-read large-button">На главную</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}