{% extends 'base2.html' %}

{% block content %}
<article class="element-box">
    <header class="element-top-bar clearfix">
        <a href="#" class="user-info f1">{{ post.author.username|default:'Аноним' }}</a>
        <b class="time-info fr">{{ post.time_update|date:"d-N-Y H:i" }}</b>
    </header>

    <h2>{{ post.title }}</h2>

    {% if post.image %}
    <figure>
        <a href="{{ post.image.url }}" class="show-image" title="{{ post.title }}">
            <img src="{{ post.image.url }}" alt="image">
            <b class="zoom-icon"></b>
        </a>
    </figure>

    {% endif %}
    
    <p>{{ post.content|linebreaks }}</p>
    
    <footer class="element-bottom-bar">
        <ul>
            <li>
                <a href="#" class="comment-icon"><b>3</b> Comments</a>
            </li>
            <li>
                <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
            </li>
            <li>
                <a href="#" class="link-icon">Permalink</a>
            </li>
        </ul>			
    </footer>

</article>

<div class="element-box comment-box">

    <h2>Оставить комментарий</h2>

    <form action="" method="POST" class="comment-form row-fluid">
        {% csrf_token %}

        <div class="errorlist">{{ form.non_field_errors }}</div>
        {% for f in form %}
        <p><label class="span2" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="errorlist">{{ f.errors }}</div>
        {% endfor %}

        <p>
            <input type="submit" value="Опубликовать комментарий" class="button button-load large-button offset2 spa4">
        </p>

    </form>

    <h2>Всего комментариев: {{ post.total_comments }}</h2>
    <ul class="comment-items">
        {% for comm in post.comments.all %}
        <li class="row-fluid">
            <div class="span10 comment-info">
                <h3>{{ comm.author }}</h3>
                <p>{{ comm.text }}</p>
                <div>
                    <a href="#" class="reply">↶ Reply</a>
                    <b class="time-info">{{ comm.time_create|date:"d-N-Y H:i" }}</b>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}
