{% extends 'base2.html' %}

{% block content %}
<article class="element-box">
    <header class="element-top-bar clearfix">
        <a href="" class="user-info f1">Username</a>
        <b class="time-info fr">{{ post.time_update|date:"d-N-Y H:i" }}</b>
    </header>

    <h2>{{ post.title }}</h2>

    {% if post.image %}
    <figure>
        <a href="{{ post.image.url }}" class="show-image" title="{{ post.title }}">
            <img src="{{ post.image.url }}" alt="image">
            <b class="zoom-icon"></b>
        </a>
    </figure>
    <!-- <p><img src="{{ post.image.url }}"</p> -->
    {% endif %}
    
    <p>{{ post.content|linebreaks }}</p>
    
    <footer class="element-bottom-bar">
        <ul>
            <li>
                <a href="#" class="comment-icon"><b>3</b> Comments</a>
            </li>
            <li>
                <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
            </li>
            <li>
                <a href="#" class="link-icon">Permalink</a>
            </li>
        </ul>			
    </footer>
    <!-- <footer class="element-bottom-bar">
        {% with post.tags.all as tags %}
        {% if tags %}
        <ul>
            <li><a href="#">Теги:</a></li>
            {% for tag in tags %}
            <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </footer> -->
</article>


<!-- <h1>{{post.title}}</h1>

{% if post.photo %}
<p><img src="{{ post.photo.url }}"</p>
{% endif %}

{{ post.content|linebreaks }} -->

{% endblock %}
